@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: $background-secondary;
    position: relative;

    .left-menu {
        width: 180px;
        background: $primary-white;
        margin: 10px;
        border-radius: 10px;
        position: fixed;
        z-index: 10;
    }

    .right-container {
        margin-left: 200px;
        width: calc(97.5% - 180px);
    }

    .icon-groups {
        position: absolute;
        right: 0;
        top: 0;
        margin: 10px 20px 0px 0px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 15px;

        .language {
            font-size: 10px;
        }

        .moon {
            font-size: 12px;
        }

        .email,
        .search {
            font-size: 16px;
        }

        svg {
            cursor: pointer;
            font-weight: 300;
        }
    }
}